@import url('https://fonts.cdnfonts.com/css/garet');

*{
    font-family: 'Garet', sans-serif;                                             
}

body {
    background-image: url(./bgIcon.png);
}

.container{
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: center;
    width: 100%;
    max-width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    height: min-content;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#abrir-chamado {
    background-color: rgb(245, 10, 10);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10PX;
}

/* Centering Divs !!!!!!*/
.conteudo,
.fale-conosco,
.quem-somos,
.nossos-servicos {
    text-align: center;
    margin: 5px;
}

.footer {
    background-image: url(./bgIcon.png);
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 8px;
}
