@import url('https://fonts.cdnfonts.com/css/garet');


* {
    font-family: 'Garet';
}

body {
    background-image: url(./bgIcon.png);
    font-family: 'Garet', sans-serif;
    padding-top: 80px;
}

header {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que fique acima de outros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#logo {
    width: 500px;
    max-width: 300px;
    height: auto;
    margin: left;
    justify-content: left;
    align-items: left;
    cursor: pointer;
}

#abrir-chamado {
    color: white;
    font-family: 'Garet', sans-serif;
    background-color: rgb(245, 10, 10);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10PX;
}

#href {
    color: #fff;
}
.texto-imagem{
    display: flex; /*alinhar na mesma linha*/
    align-items: center; /* alinhar vertical*/
    justify-content: flex-start; /*alinhar a esquerda*/
}
.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Centering Divs !!!!!!*/
.conteudo,
.fale-conosco,
.quem-somos,
.nossos-servicos{
    display: grid;
    text-align: center;
    flex-direction: row;
    margin: 10px;
}

#building {
    width: 80%;
    height: auto;
    margin: 0 auto;

}
h2{
    font-weight: bold;
    color: #ffffffff;   
}
h4{
    font-weight: normal;
    color: #ffffffff
}

.fale-conosco {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Garet', sans-serif;
}

.fale-conosco i {
    margin-right: 8px;
}

.fale-conosco a {
    text-decoration: none;
    font-size: 16px;
}

#whatsapp {
    color: #014926;
    font-weight: 600;
}

#email {
    color: #0554bd;
}

.aviso {
    color: #fff;
    font-weight: 800;
    
}
#btn-avise{
    color: #0554bd;
    background-color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #0554bd;
}
#btn-catalogo a{
    color: #ffffffff;
    text-decoration: none;
    font-weight: 400;
}
#btn-catalogo{
    background-color: #014926;
    border-radius: 30px;
    padding: 10px 20px;
}

.footer {
    background-image: url(./bgIcon.png);
    font-weight: lighter;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 8px;
}