body {
    background-image: url(dev_background.png);
}

#logo {
    display: center;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #fff;
    padding: 10px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#abrir-chamado {
    background-color: rgb(245, 10, 10);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Centering Divs !!!!!!*/
.conteudo,
.fale-conosco,
.quem-somos,
.nossos-servicos {
    text-align: center;
    margin: 0 auto;
}

.footer {
    background-color: rgb(36, 117, 211);
    color: white;
    text-align: center;
    padding: 3px;

}
